.offers{
  margin: 2em 0;
  .col{
	padding: 0;
  }
}
.offer {
  &.light{
	color: white;
  }
  &.dark{
  }
  position: relative;
  img{
	width: 100%;
	z-index: 97;
  }
  .offer-description{
	padding: 20% 20%;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
  }
}

.offer-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 98;
  
  &.light{
	
	background-color: color("indigo", "darken-3");
	background-color: $button-color-dark;
	opacity: 0.8;
  }
  &.dark{
	background-color: color("yellow", "lighten-2");
	background-color: $button-color-light;
	opacity: 0.8;
  }
}
